//COLORS
$color-primary: rgb(56, 64, 68);
$color-secondary: rgb(239, 229, 208);
$color-black-dark: #4d4c4c;
$color-black-light: #2e2e2e;
$color-white: rgb(255, 255, 255);
$color-black: #000;
$color-grey: #9e9d9d;

//BACKGROUNDS
$color-backgound-dark: #353434;

//Section display
$header-height: 80vh;
$header-width: 90vw;
$section-height: 80vh;
$section-width: 90vw;
$footer-height: 100vh;
$footer-width: 100vw;

//Animation duration
$animation-duration: 1s;
