<footer class="footer-section">
  <ul class="footer-section__list">

    <li class="footer-section__list--item">
      <a href="/aboutUs" class="footer-section__list--link">Quiénes Somos</a>
    </li>
    <li class="footer-section__list--item">
      <a href="/#services" class="footer-section__list--link">Servicios</a>
    </li>
    <li class="footer-section__list--item">
      <a href="/#experiences" class="footer-section__list--link">Opiniones</a>
    </li>
    <li class="footer-section__list--item">
      <a href="https://wa.me/3128881006?text=Golo%20Food%20And%20Catering,%20¿Cómo%20podemos%20ayudarte?" class="footer-section__list--link">Contáctanos</a>
    </li>
  </ul>
  <div class="footer-section__socialMedia">
    <p>Encuéntranos en</p>
    <div class="footer-section__socialMedia--icons">
      <div class="icon-container"><a href="https://es-la.facebook.com/goloreposteros/"><i class="fab fa-facebook-square"></i></a></i></div>
      <div class="icon-container"><a href="https://www.instagram.com/golofoodycatering/?hl=es"><i class="fab fa-instagram-square"></i></a></div>
    </div>
  </div>
</footer>
