<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

  <label for="navi-toggle" class="navigation__button"
    ><span class="navigation__icon">&nbsp</span></label
  >

  <div class="navigation__background">&nbsp</div>

  <nav class="navigation-bar">
    <ul class="navigation-bar__list">
      <li class="item-img">
        <a href="/"
          ><img
            class="homeHeader__img"
            src="/images/white-logo-golo.png"
            alt="logo-Golo"
        /></a>
      </li>
      <li><a href="/aboutUs">Quiénes somos</a></li>
      <li><a href="/#services">Servicios</a></li>
      <li><a href="/#experiences">Opiniones</a></li>
      <li><a href="https://wa.me/3128881006?text=Golo%20Food%20And%20Catering,%20¿Cómo%20podemos%20ayudarte?">Contáctanos</a></li>
    </ul>
  </nav>
</div>

<div class="icon-container-whatsapp">
  <a
    href="https://wa.me/3128881006?text=Golo%20Food%20And%20Catering,%20¿Cómo%20podemos%20ayudarte?"
    ><i class="fab fa-whatsapp-square"></i
  ></a>
</div>
