<!DOCTYPE html>
<%-include("partials/head")%>
<html lang="en">
  <body>
    <header class="regularHeader"><%-include("partials/nav_bar")%></header>

    <main class="section-main">
      <section class="about-us">
        <div class="about-us__container">
          <div class="about-us__container--text">
            <h1 class="about-us__container--main-title">
              SOMOS
              <span>GOLO</span>
            </h1>
            <p class="about-us__container--main-paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
              rem. Tempora vitae velit accusantium quibusdam quae eligendi porro
              quis veniam earum error, neque deleniti laboriosam aut similique
              eum hic libero.<br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              rerum in non nemo similique doloribus quae ad quia, inventore
              repellendus perspiciatis debitis assumenda ab, officiis quibusdam
              aperiam fugiat, aliquam quasi?Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Iure aperiam nemo repudiandae ab,
              maiores reiciendis nihil dolores dolorum delectus, voluptates in,
              repellendus a ullam. Harum quas ut et quasi optio.
            </p>
          </div>
        </div>
      </section>
    </main>
    <%- include("partials/footer")%>
  </body>
</html>
